
<mat-card>
  <mat-card-content>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th class="type-id" mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th class="type-name" mat-header-cell *matHeaderCellDef> BANK NAME </th>
          <td mat-cell *matCellDef="let element"> {{element.bank_name}} </td>
        </ng-container>

        <ng-container matColumnDef="acc_number">
          <th class="type-acc_num" mat-header-cell *matHeaderCellDef> ACCOUNT NUMBER</th>
          <td mat-cell *matCellDef="let element"> {{element.account_number}} </td>
        </ng-container>

        <ng-container matColumnDef="routing_number">
          <th class="type-routing_num" mat-header-cell *matHeaderCellDef> ROUTING NUMBER </th>
          <td mat-cell *matCellDef="let element"> {{element.routing_number}} </td>
        </ng-container>

        <ng-container matColumnDef="swift_bic">
          <th class="type-swift_code" mat-header-cell *matHeaderCellDef> SWIFT CODE </th>
          <td mat-cell *matCellDef="let element"> {{element.swift_bic}} </td>
        </ng-container>

        <ng-container matColumnDef="comment">
          <th class="type-comment" mat-header-cell *matHeaderCellDef> COMMENT </th>
          <td mat-cell *matCellDef="let element">
            <form [formGroup]="bankDetailsForm">
            <mat-form-field>
              <input type="text" matInput formControlName="comment" [(ngModel)]="comment" (paste)="onPaste($event)"/>
              <mat-error *ngIf="checkError('comment', 'required')">Comment is required</mat-error>
              <mat-error *ngIf="checkError('comment', 'pattern')">Allow English and numbers only</mat-error>
            </mat-form-field>
            </form>
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th class="type-comment_date" mat-header-cell *matHeaderCellDef> COMMENTED DATE</th>
          <td mat-cell *matCellDef="let element"> {{commentedDate | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="accent" (click)="save()" [disabled]="!bankDetailsForm.valid">Save</button>
  </mat-card-actions>
</mat-card>

