<mat-toolbar>
  <label  for="title">{{title}}</label>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" (click)="logout()">Logout</button>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="loader"></mat-progress-bar>
<div *ngIf="!loader">
  <mat-card class="bank-list" *ngIf="viewBankList == 0">
    <mat-card-content>
      <div class="mat-elevation-z8">
        <table class="w-100" mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> BANK NAME </th>
            <td mat-cell *matCellDef="let element"> {{element.bank_name}} </td>
          </ng-container>
          <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef> COMMENT </th>
            <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> ACTION </th>
            <td mat-cell *matCellDef="let element">
              <button class="view-label" mat-flat-button (click)="viewBank(element)">View</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of banks"></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="bank-details" *ngIf="viewBankList == 1">
    <app-bank-details [bankadata]="bankadata" (updatedData)="getChildData($event)"></app-bank-details>
  </div>

  <div class="error-handing" *ngIf="viewBankList == 2">
    <app-error-handler [errorMessage]="errorMessage"></app-error-handler>
  </div>
</div>


